<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>server</title>
	<!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- socket.io -->
	<!--script src="https://cdn.socket.io/socket.io-1.3.7.js"></script-->
	<script src="../view/socket.io.js"></script>
	 <!-- Angular Material CSS now available via Google CDN; version 0.10 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
    <!-- highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

</head>

<body ng-app="tesselApp" ng-controller="appCtrl">
	<div id="content"></div>
	<span>real time accelerometer data: </span>
	<div>{{data}}</div>
	<accelerometer-datachart></accelerometer-datachart>
	<climate-datachart></climate-datachart>
	<ambient-datachart></ambient-datachart>
	<gps-datachart></gps-datachart>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/BQdLj1V0CMA?rel=0" frameborder="0" allowfullscreen></iframe>

</body>
    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <!-- Angular Material Javascript now available via Google CDN; version 0.10 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.js"></script>
    <script src="../script/app.js"></script>
</html>